[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"discord.py" = "*"
pandas = "*"
psycopg2 = "*"
yfinance = {git = "https://github.com/Harrisnkm/yfinance.git"}

[dev-packages]

[requires]
python_version = "3.9"
